/* globals.css */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --color-blueviolet: #6246e5;
  --color-orangered: #ec4a0a;
  --br-50: 50%;
  --font-inter: Inter;
  --fs-25: 25px;
  --height-11: 11px;
  --height-26: 26px;
}

body {
  color: #1A1A1A;
  background: #FFFFFF;
  /* Force body to stay at the top (Google Translate tries to push it down) */
  top: 0px !important; 
}

/* =========================================
   GOOGLE TRANSLATE UI OVERRIDES 
   ========================================= */

/* Hide the Google Translate Top Banner */
.goog-te-banner-frame.skiptranslate, 
.goog-te-gadget-icon {
    display: none !important;
}

/* Hide Google Translate hover tooltips */
.goog-tooltip,
.goog-tooltip:hover {
    display: none !important;
    box-shadow: none !important;
}

/* Remove weird background highlights from translated text */
.goog-text-highlight {
    background-color: transparent !important;
    border: none !important; 
    box-shadow: none !important;
}